.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1240px;
  margin: auto;
  overflow: hidden;

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  &--no-padding-small {
    padding-left: 0;
    padding-right: 0;

    @mixin laptop {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  &--medium {
    max-width: 976px;
  }



  &--b-margin {
    margin-bottom: 1rem;

    @mixin tablet {
      margin-bottom: 4rem;
    }
  }

}
